body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
}

.stars {
    position: absolute;
    width: 95.729vw;
    height: 40.241vw;
    left: -8.24vw;
    top: 6.204vw;
    z-index: -1;
}

.stars circle{
    fill: var(--drawn);
}

.area-nav {
    width: 95%;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.container-form {
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;
    height: 60%;
}

.container-form .area-desc .alien-01 {
    position: absolute;
    width: 2.984vw;
    height: 2.833vw;
    left: 42.28vw;
    top: 18.906vw;
    stroke: var(--drawn);

}

.alien-01 path{
    stroke: var(--drawn);
}
.alien-01 circle{
    fill: var(--drawn);
    stroke: var(--drawn);
}

.alien-02 {
    position: absolute;
    width: 4.015vw;
    height: 6.163vh;
    left: 7.656vw;
    top: 75.426vh;
    stroke: var(--drawn);
}

.alien-02 path{
    stroke: var(--drawn);
}

.alien-02 circle{
    fill: var(--drawn);
    stroke: var(--drawn);
}

.alien-00 path{
    stroke: var(--drawn);
}

.alien-00 circle{
    fill: var(--drawn);
    stroke: var(--drawn);
}

.alien-03 {
    position: absolute;
    width: 45.74px;
    height: 42.91px;
    left: 45.49vw;
    /* 875.63px em relação a 1920px de largura */
    top: 67.84vh;
    ;
    stroke: var(--drawn);
    /* 802.93px em relação a 1920px de largura */
    
}

.alien-03 path{
    stroke: var(--drawn);
}

.alien-03 circle{
    fill: var(--drawn);
    stroke: var(--drawn);
}

.alien-04 {
    position: absolute;
    width: 2.384vw;
    /* 45.74px em relação a 1920px de largura */
    height: 2.233vw;
    /* 42.91px em relação a 1920px de largura */
    left: 80.21vw;
    /* 1540.24px em relação a 1920px de largura */
    top: 4.427vw;
    /* 85px em relação a 1920px de largura */
    stroke: var(--drawn);

}

.alien-04 path{
    stroke: var(--drawn);
}

.alien-04 circle{
    fill: var(--drawn);
    stroke: var(--drawn);
}

.container-form .area-desc .box-desc {
    font-family: 'Poppins', sans-serif;
}

.container-form .area-desc .box-desc h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 3.300vw;
    line-height: 2.563vw;
    color: var(--font-title-color)
}

.container-form .area-desc .box-desc h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 2.813vw;
    width: 37vw;
    color: var(--font-detail-color)
}

.container-form .area-desc .box-desc p {
    font-style: normal;
    font-weight: 300;
    font-size: 1.1vw;
    color: var(--font-title-color)
}

.container-form .area-desc .box-desc a {
    text-decoration: none;
    color: var(--link-color)
}

.container-form .area-desc .box-desc .alien-00 {
    position: absolute;
    width: 2.384vw;
    height: 2.233vw;
    left: 4.292000000000002vw;
    top: 14.018vw;
    color: var(--drawn);
}


.area-form {
    position: absolute;
    width: 29.48vw;
    height: 75.15vh;
    left: 60.68vw;
    top: 19.07vh;
    font-family: "Poppins", sans-serif;
}

.titulo-form {
    color: var(--font-title-color);
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 64%;
    width: 85%;

}

.form small {
   color: var(--font-title-color);
    line-height: 7vh;
}

.box-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.area-esqueci {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

.area-esqueci small {
    font-size: 10px;
}

.input-form {
    border: none;
    border-bottom: 1px solid var(--elements);
    outline: none;
    background-color: transparent;
    color: var(--elements);
}

.input-form::placeholder {
    color: var(--font-title-color);
    font-size: small
}

.area-button{
    margin-top: -3.2vh;
}

.area-button-cad{
    margin-top: 2.4vh;
}

.area-form p{
    color: var(--font-detail-color);
    margin: 0;
}

.area-form button {

    background-color: var(--elements);
    color: #F2F2F2;
    border: none;
    width: 10.5vw;
    height: 4.6vh;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}



.area-form button:hover{
    background-color: #537559;
    color: #FFFFFF; 
}

.area-form button:active {
    background-color: #81A687;
    color: #FFFFFF; 
}
