.modal-criar-collab {
  width: 60vw;
  height: 70vh;
  border-radius: 30px;
  background-color: var(--void);
  display: flex;
  border: none;
}

.area-foto-collab {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  width: 50%;
}

.area-form-collab {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 63%;
}

.area-form-collab input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: solid 1px var(--elements);
  color: var(--font-title-color);
  width: 75%;
}

.area-form-collab input::placeholder {
  font-family: "Poppins", sans-serif;
  color: var(--font-detail-color);
}

.box-foto-collab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 27vw;
  height: 34vh;
  background: var(--line);
  border-radius: 15px;
  color: var(--font-detail-color);
}

.box-foto-collab p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.area-adicionar button {
  width: 60%;
  height: 40px;
  background-color: transparent;
  color: var(--font-detail-color);
  outline: none;
  border: solid 1px var(--elements);
  transition: background-color 0.3s ease; /* Transição suave de cor */
  border-radius: 3px;
}

.area-adicionar button:hover{
    background-color: var(--line);
}

.area-adicionar button:active{
    background-color: var(--elements);
    color: var(--font-title-color);
}


.membro {
    display: flex;
    align-items: center;
    height: 50px;
    width: 60%; 
    border: 1px solid var(--elements); 
    border-radius: 3px; 
    padding-left: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .membro img {
    width: 100%;
    height: 100%;
    border-radius: 4px; /* bordas arredondadas para a imagem */
    border-radius: 50%;
  }
  
  .membro p {
    margin-top: 10px; /* margem superior para o nome */
    font-size: 18px; /* tamanho da fonte */
    color: var(--font-title-color);
  }

  .area-imagem{
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  

